ultralytics 
opencv-python 
numpy 
rospy 
sensor_msgs 
cv_bridge

# sudo apt install ros-noetic-explore-lite
# sudo apt install ros-noetic-gmapping ros-noetic-move-base ros-noetic-explore-lite 
# sudo apt ros-noetic-diff-drive-controller ros-noetic-effort-controllers ros-noetic-joint-state-controller 
# sudo apt ros-noetic-gazebo-ros ros-noetic-robot-state-publisher ros-noetic-rviz ros-noetic-tf 
# sudo apt ros-noetic-controller-manager ros-noetic-xacro
