<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find final)/urdf/urdf.urdf'" />
  <arg name="x_pos" default="-1.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.3"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find final)/world/my_world.world" />
  </include>

  <node
  name="spawn_model" pkg="gazebo_ros" type="spawn_model"
  args="-param robot_description -urdf -model final -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)"
  output="screen" />

</launch>
