<launch>
  <!-- Dùng thời gian mô phỏng từ Gazebo -->
  <param name="use_sim_time" value="true" />

  <!-- Load bản đồ tĩnh -->
  <arg name="map_file" default="$(find final)/maps/my_map.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_frame_id" value="odom" />
    <param name="base_frame_id" value="base_footprint" />
    <param name="scan_topic" value="scan" />
    <param name="min_particles" value="500" />
    <param name="max_particles" value="2000" />
    <param name="update_min_d" value="0.2" />
    <param name="update_min_a" value="0.2" />
    <param name="resample_interval" value="1" />
  </node>

  <!-- MOVE BASE chính thức -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find final)/config/move_base/costmap_common_params.yaml" command="load" />
    <rosparam file="$(find final)/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find final)/config/move_base/local_costmap_params.yaml" command="load" />

    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
  </node>

</launch>
